.container {
    max-width: 800px;
    margin: 0 auto;
}

.plyr {
    border-radius: 4px;
    margin: 15px auto;
    margin-bottom: 15px;
    max-width: 70%;
}

.video-cover {
    font-size: 30px;
}

#video-name-color {
    color: blue;
}

.morecontent span {
    display: none;
}

